.col-sm-4
  - @questions.each_with_index do |question, index|
    - if index % 3 == 0
      = render partial: 'question', locals: { question: question }

.col-sm-4
  - @questions.each_with_index do |question, index|
    - if index % 3 == 1
      = render partial: 'question', locals: { question: question }

.col-sm-4
  - @questions.each_with_index do |question, index|
    - if index % 3 == 2
      = render partial: 'question', locals: { question: question }
