.col-sm-6
  - @questions.each_with_index do |question, index|
    - if index % 2 == 0
      = render partial: 'question', locals: { question: question }

.col-sm-6
  - @questions.each_with_index do |question, index|
    - if index % 2 == 1
      = render partial: 'question', locals: { question: question }
