@import "bootswatch/sandstone/variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch/sandstone/bootswatch"
@import "footer"
@import "home"

html, body
  height: 100%

body
  background-color: black

#home-bg
  height: 100%
  margin: 0px
  padding: 0px

#main-container
  position: relative
  background-color: white
  background: rgba(255, 255, 255, 0.85)
