@import "bootswatch/paper/variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch/paper/bootswatch"
@import "footer"
@import "home"

html, body
  height: 100%

body
  background-color: white

#home-bg
  height: 100%
  margin: 0px
  padding: 0px
  padding-top: 64px
  margin-top: -64px


.home #home-bg
  background: rgb(255,255,255)

#main-container
  position: relative
  background-color: black
  background: rgba(255, 255, 255, 0.9)
  height: 100%

  form
    background-color: inherit

.jumbotron
  background-color: white
