@import "bootswatch/paper/variables"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootswatch/paper/bootswatch"
@import "footer"
@import "home"
@import "question"

html, body
  height: 100%

html.turbolinks-progress-bar::before
  background-color: green !important
  height: 2px !important

body
  background-color: white

#home-bg
  height: 100%
  margin: 0px
  padding: 0px
  padding-top: 64px
  margin-top: -64px


.home #home-bg
  background: rgb(255,255,255)

#main-container
  position: relative
  height: 100%

  form
    background-color: inherit

.jumbotron
  background-color: white
