%nav.small-nav.navbar-default.navbar{role: :navigation}
  .navbar-header.white-border-right
    %button.navbar-toggle{type: :button, :'data-toggle' => 'collapse', :'data-target' => '#main-navbar-collapse'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "Cycle Fitness", root_path, class: 'navbar-brand'


  .collapse.navbar-collapse#main-navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to root_path do
          %span.glyphicon.glyphicon-home
          %span.small Home

      %li.dropdown
        %a.dropdown-toggle{type: :button, :'data-toggle' => 'dropdown', href: '#'}
          %span.glyphicon.glyphicon-user
          %span.small Placeholder
          %span.glyphicon.glyphicon-chevron-down
            %ul.dropdown-menu{role: :menu, :'aria-labelledby' => 'dropdown-people'}
              %li{role: :presentation}
                %a{href: "#", role: :menuitem, :'tab-index' => '-1'}
                  Placeholder
              %li{role: :presentation}
                %a{href: '#', role: :menuitem, :'tab-index' => '-1'}
                  Placeholder
              %li{role: :presentation}
                %a{href: '#', role: :menuitem, :'tab-index' => '-1'}
                  %span.badge 0
                  Placeholder
              %li{role: :presentation}
                %a{href: "#", role: :menuitem, :'tab-index' => '-1'}
                  Placeholder
