%nav.small-nav.navbar-inverse.navbar{role: :navigation}
  .container
    .navbar-header.white-border-right
      %button.navbar-toggle{type: :button, :'data-toggle' => 'collapse', :'data-target' => '#main-navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      /= link_to "Cycle Fitness", root_path, class: 'navbar-brand'
      %a.navbar-brand{href: root_path, style: 'padding:0px'}
        %img{alt: 'Cycle Fitness', src: asset_path('logo.png'), height: '61px'}


    .collapse.navbar-collapse#main-navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to root_path do
            %span.glyphicon.glyphicon-home
            %span.small= I18n.t "views.application.home"

        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{type: :button, :'data-toggle' => 'dropdown', href: '#'}
              %span.glyphicon.glyphicon-user
              %span.small= current_user.username
              %span.glyphicon.glyphicon-chevron-down
                %ul.dropdown-menu{role: :menu, :'aria-labelledby' => 'dropdown-people'}
                  %li{role: :presentation}
                    %a{href: "#", role: :menuitem, :'tab-index' => '-1'}
                      Placeholder
                  %li{role: :presentation}
                    %a{href: '#', role: :menuitem, :'tab-index' => '-1'}
                      Placeholder
                  %li{role: :presentation}
                    %a{href: '#', role: :menuitem, :'tab-index' => '-1'}
                      Placeholder
                  %li{role: :presentation}
                    %a{href: "#", role: :menuitem, :'tab-index' => '-1'}
                      Placeholder


      .navbar-form.navbar-right{role: 'search'}
        .form-group
          %input.form-control{type: 'text', placeholder: I18n.t('views.application.search') }
        %button.btn.btn-default{type: 'submit'}
          %span.glyphicon.glyphicon-search
          = I18n.t "views.application.search"
